<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triangles</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>
<body>
    <header>
        <h1><a href="/">TRIANGLES!</a></h1>
    </header>
    <div id="container">
        <form action="/" method="post">
            <div id="form_container">
                <div id="form_inputs">
                    <div class="form_input-container">
                        <label for="">Side A</label>
                        <input type="number" step="0.0001" name="sideA" id="sideA">
                    </div>
                    <div class="form_input-container">
                        <label for="">Side B</label>
                        <input type="number" step="0.0001" name="sideB" id="sideB">
                    </div>
                    <div class="form_input-container">
                        <label for="">Side C</label>
                        <input type="number" step="0.0001" name="sideC" id="sideC">
                    </div>
                </div>
                <div id="form_button-container">
                    <button type="submit">Sumbit</button>
                </div>
            </div>
        </form>
        <% if (locals.errors) { %>
            <div id="errors_container">
                <h2>Errors</h2>
                <% for(let error of errors){ %> 
                    <p><%= error.msg %> </p>
                <% } %> 
            </div>
        <% } if (!locals.errors && (angles.length == 0 || locals.area == 0)){ %>
            <div id="info_container">
                <h2>Try making a triangle!</h2>
                <p>Just be sure that the conditions are that side A + side B > side C and side A + side C > side B and side B + side C > side A</p>
            </div>
        <% } %> 
        <% if (angles.length == 0 || locals.area == 0) {  %>
        <%} else { %>
            <div id="info_container">
                <h2>Information about your triangle</h2>
                <p>Angle A = <%= angles[0] %>&deg;</p>
                <p>Angle B = <%= angles[1] %>&deg;</p>
                <p>Angle C = <%= angles[2] %>&deg;</p>
                <p>Area = <%= locals.area %>&sup2;</p>
            </div>
        <%} %>
    </div>
    <div id="container2">
        <article id="dataGraph"
        data-v3="<%= locals.v3 %>"
        data-v5="<%= locals.v5 %>"
        data-v6="<%= locals.v6 %>"
        data-sa="<%= locals.sideA %>"
        data-sb="<%= locals.sideB %>"
        data-sc="<%= locals.sideC %>">
        </article> 
        <div id="graph_container">
            <canvas id='graph'></canvas>
        </div>
        <script>
            const article = document.querySelector('#dataGraph');


            let number = Math.max(Number(article.dataset.sa),Number(article.dataset.sb),Number(article.dataset.sc));
            let largest = Math.round(number);
            console.log(largest);

            Chart.defaults.plugins.legend.display = 'false';

            const myChart = new Chart(
                document.getElementById('graph'),
                {
                type: 'scatter',
                data: {
                    datasets: [{
                        label: 'Triangle Points',
                        data: [{
                            x: 0,
                            y: 0
                        },{
                            x: Number(article.dataset.v5),
                            y: Number(article.dataset.v6)
                        },{
                            x: Number(article.dataset.v3),
                            y: 0
                        },{
                            x: 0,
                            y: 0
                        }],
                        backgroundColor: 'red',
                        borderColor: 'red'
                    }],
                },
                options: {
                    plugins:{
                        legend: {
                            display: false,
                        },
                        title: {
                            display: true,
                            text: 'Your triangle (not up to scale)',
                        }
                    },
                    maintainAspectRatio: true,
                    aspectRatio: 1,
                    showLine: true,
                    scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom',
                        max: largest,
                    },
                    y: {
                        type: 'linear',
                        position: 'left',
                        max: largest,
                    }}
                }
                }
            );
        </script>
        <div id="learn_container">
            <h2>Learn!</h2>
            <p>Here are some links for you to see how I did this.</p>
            <a href="https://github.com/enzdor/project-triangles">GitHub</a>
            <a href="https://math.stackexchange.com/questions/256100/how-can-i-find-the-points-at-which-two-circles-intersect">Finding third point in graph</a>
            <a href="https://en.wikipedia.org/wiki/Triangle_inequality">What values of sides can make a triangle</a>
            <a href="https://www.youtube.com/watch?v=COMiK1L0Oj8&ab_channel=Mathaniac">Finding angles</a>
            <a href="https://www.cuemath.com/measurement/area-of-scalene-triangle/">Finding area</a>
        </div>
    </div>
</body>
</html>